body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.todo-list {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.todo-item {
  box-shadow: 0 1.8px 1.1px rgba(0, 0, 0, 0.02);
  background: white;
  padding: 0.5em;
  margin: 0.2em;
}

.todo-action-buttons {
  margin-top: 10px;
  display: flex;
}

.create-modal {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2em;
}
